*{
  margin:0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body{
  font-size: 62.5%;
  font-family: Verdana, sans-serif;
}
header{
  background-color: #4269ea;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
header .star{
  width: 2rem;
  height: 2rem;
  background-color: #f2cb1b;
  display: block;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.search{
  position: relative;
}

.search input{
  border: none;
  padding: 0 1rem;
  color: #fff;
  font-size: 1.2rem;
  background-color: transparent;
  max-width: 12rem;
  border-bottom: 1px #fff solid;
}
.search button{
  width: 1rem;
  height: 1rem;
  border: 2px #fff solid;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: -2px;
}
.search button:after{
  content: '';
    width: .2rem;
    height: .6rem;
    position: absolute;
    left: 12px;
    bottom: -8px;
    transform: rotate(-45deg);
    background: #fff;
    outline: none;
}

.wrapper{
  background-color: #f2f3f7;
  overflow: hidden;
  padding: 1rem;
}
.row{
  display:flex;
  justify-content: space-between;
}
.row .col2{
  width: 20%;
  padding-right: .5rem;
  border-right: 1px #e5e5e5 solid;
}


.shopping{
  display:flex;
  justify-content: flex-start;
}
.shopping .product{
  margin:2rem 1rem;
  max-width: 15rem;
}
.shopping .product img{
  width: 100%;
}
.shopping .product .row{
  margin-bottom: 1rem;
}
 .row .col10{
  margin-right: auto;
  padding-left:1rem;
}
.shopping .product .p_name{
  display: block;
  padding: 1rem 0;
  color:#000;
  font-size: 1.2rem;
}
.shopping .product .price{
 font-size: 1rem;
 font-weight: bold;
}
.shopping .product .r_price{
  font-size: .9;
  color: #ccc;
}
.shopping .product .discount{
  color: #34a43c;
  font-size: .8rem;
}
.shopping .product button{
  padding: 1rem 2rem;
  max-width: 15rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin:auto;
  display: flex;
  border: none;
  border-radius: 2rem;
  background-color: #f8ab23;
  cursor: pointer;
}
.sort{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
}

.sort h5{
  font-size: 1rem;
  margin-right: 1rem;
}
.sort span{
  margin-right: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.sort span:hover{
  color: #4269ea;
  text-decoration: underline;
}